#mynavbar{
left: 0;
width: 100%;
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
background-color: DimGray;
position: fixed;
z-index: 3;
}
.carousel{
	width: 100%;
	margin-right: 1%;
	margin-left: 1%;
}
#screenshot-carousel{
width: 80%;
margin: 2.5% 10% 2.5% 10%;
}